.container {
text-align: center;
box-sizing: border-box;
width: 35%;
}
.searchIcon{
  margin-top: 50%;
}
.card{
  width: 100%;
  margin: 0 auto;

}
.valign-wrapper{
  height: 100vh;
  width: 100%;
}
.datapicker-table{
  color: black;
}
.datepicker-date-display{
  background-color: rgb(82, 88, 139);
}
.datepicker {
  color: white;
}
.button.datepicker-date-button{
  color: black;
}
.datepicker-table td.is-selected{
  background-color: rgb(82, 88, 139);
  color: white;
}
.datepicker-cancel{
  color: rgb(82, 88, 139);
}
.datepicker-done{
  color: rgb(82, 88, 139)
}
.btn-floating{
  background-color: #ffab91 ;
}
.btn-floating:hover{
  background-color: red;
}
.clicked{
  background-color: red;
}